.s {
  margin-left: 50px;
  list-style-type: none;
  text-transform: capitalize;
}

.p {
  padding: 15px 0 0 0;
}

.Main_wraper {
  position: relative;
}

.Filter_block {
  position: absolute;
  left: 0;
  width: 50px;
  padding: 10px;
  background-color: cadetblue;
}
